/* ========================================================================
   ie styles
======================================================================== */
.container{
    width: 1250px;
    clear: both;
}
.row{
    clear: both;
}
.row:after {
    content: " ";
    clear: both;
    display: table;
}
.row > *{
    float: left;
}
.col-lg-1{
     width: 8.333333%;
}
.col-lg-2{
     width: 16.666667%;
}
.col-lg-3{
     width: 25%;
}
.col-lg-4{
     width: 30%;
}
.col-lg-5{
     width: 41.666667%;
}
.col-lg-6{
    width: 50%;
}
.col-lg-7{
    width: 58.333333%;
}
.col-lg-8{
    width: 65%
}
.col-lg-9{
    width: 75%;
}
.col-lg-10{
    width: 83.333333%;
}
.col-lg-11{
    width: 91.666667%;
}
.col-lg-12{
    width: 100%;
}
.h1{
    line-height: 3;
}
.header{
    min-height: 115px;
    clear: both;
}
.header-left,
.header-center,
.header-right{
    min-height: 100px;
    padding: 15px 0 0 0;
}
.header-right{
    background: #1f1f1f;
}
.header-left:before,
.header-left:after,
.header-center:before,
.header-center:after,
.header-right:before,
.header-right:after{
    content: none;
}
.header-socials,
.header-phones,
.header-right-link{
    width: 100%;
    text-align: right !important;
}
.header-phones{
    margin-top: 15px;
}
.header-right-link{
    margin-top: 15px;
}
.header-socials a{
    color: #575757;
}
.navbar{
    clear: both;
    min-height: 40px;
    padding-top: 10px;
}
.navbar-wrapper{
    clear: both;
}
.navbar-menu-wrapper{
    float: left;
    width: 70% !important;
}
.navbar-search-wrapper{
    float: right;
    width: 30% !important;
    text-align: right;
}
.search{
    display: inline-block;
}
.navbar-toggler{
    display: none;
}
.navbar-collapse{
    display: block;
}
.categories_block{
    clear: both;
    margin: 15px 0;
}
.categories_block-category{
    float: left;
}
.slick_slider{
    text-align: left;
    min-height: 400px;
}
.slick_slider-item{
    display: inline-block;
    width: 47.5%;
    margin: 25px 25px 0 0;
}
.links_bars_block{
    min-height: 340px;
}
.links_bars_block-link{
    max-width: 1190px;
}
.advantages{
    min-height: 350px;
}
.advantages-title{
    line-height: 3;
}
.advantages-switcher-item + .advantages-switcher-item{
    margin-top: 10px;
}
.advantages-switcher-item:before,
.advantages-switcher-item:before{
    content: none;
}
.slick_slideset{
    list-style: none;
    text-align: center;
}
.slick_slideset-item{
    display: inline-block;
    margin-bottom: 15px;
    width: 7%;
}
.footer-buttons{
    clear: both;
}
.footer-buttons-button{
    width: 44%;
}
.footer-buttons-button + .footer-buttons-button{
    margin-left: 50px;
    float: right;
}
.footer-address{
    clear: both;
    margin-top: 20px;
}
.footer-address-row {
    line-height: 3;
}
.service-full-advices{
    clear: both;
}
.service-full-advices:before,
.service-full-advices:after{
    content: none;
    width: 0;
    height: 0;
    position: absolute;
    top: inherit;
    bottom: inherit;
    left: inherit;
    right: inherit;
    background: transparent;
}
.services-table-head,
.services-table-body-row{
    clear: both;
    min-height: 56px;
}
.main .container + .container .col-lg-9{
    width: 70%;
}
.sidebar-menu-list li{
    overflow: hidden;
}
.sidebar-menu-list li{
    width: 95%;
}
.services-description-text{
    width: 66%;
}
.services-description-image{
    width: 27%;
}
.page-contacts-main-inside > .row > .col-lg-3,
.page-contacts-main-inside > .row > .col-lg-9{
    width: 100% !important;
}
.page-contacts-main-wrapper{
    min-height: 500px;
}
.page-contacts-main-inside .page-contacts-main-wrapper{
    min-height: 260px;
}
.page-contacts-main-inside .page-contacts-main-wrapper > .row > .col-lg-5{
    width: 30%;
}
.page-contacts-main-inside .page-contacts-main-wrapper > .row > .col-lg-7{
    width: 63%;
}
.slick_slider-contacts-inside .slick_slider-item{
    width: 22%;
}
.page-contacts-info{
    clear: both;
}
.page-contacts-info:after,
.page-contacts-evaluation:after,
.page-contacts-evaluation-testimonial:after,
.page-contacts-evaluation-rating:after {
    content: " ";
    clear: both;
    display: table;
}
.page-contacts-info-image{
    float: left;
}
.page-contacts-info-text{
    width: 50%;
    float: right;
}
.page-contacts-evaluation-testimonial-text,
.page-contacts-evaluation-text{
    width: 40%;
    float: left;
}
.page-contacts-evaluation-testimonial-link,
.page-contacts-evaluation-stars{
    width: 60%;
    float: right;
}
.page-contacts-evaluation > .row > .col-lg-6,
.page-contacts-info > .row > .col-lg-6{
    width: 47%;
}