/* ========================================================================
   Стили шрифтов / Font styles
======================================================================== */
@font-face {
	font-family: 'ProximaNova-Bold';
	src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Bold.otf')  format('opentype'),
		url('../fonts/ProximaNova-Bold.woff') format('woff'),
		url('../fonts/ProximaNova-Bold.ttf')  format('truetype'),
		url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova-Semibold';
	src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Semibold.otf')  format('opentype'),
		url('../fonts/ProximaNova-Semibold.woff') format('woff'),
		url('../fonts/ProximaNova-Semibold.ttf')  format('truetype'),
		url('../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova-Regular';
	src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Regular.otf')  format('opentype'),
		url('../fonts/ProximaNova-Regular.woff') format('woff'),
		url('../fonts/ProximaNova-Regular.ttf')  format('truetype'),
		url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova-Light';
	src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Light.otf')  format('opentype'),
		url('../fonts/ProximaNova-Light.woff') format('woff'),
		url('../fonts/ProximaNova-Light.ttf')  format('truetype'),
		url('../fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'iconfont';
	src:  url('../fonts/iconfont.eot?5m0y1l');
	src:  url('../fonts/iconfont.eot?5m0y1l#iefix') format('embedded-opentype'),
		url('../fonts/iconfont.ttf?5m0y1l') format('truetype'),
		url('../fonts/iconfont.woff?5m0y1l') format('woff'),
		url('../fonts/iconfont.svg?5m0y1l#iconfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'iconfont' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-down-arrow:before {
	content: "\e900";
}
.icon-next:before {
	content: "\e901";
}
.icon-back:before {
	content: "\e902";
}
/* ========================================================================
   Общие стили / Common styles
======================================================================== */
body{
	font-family: 'ProximaNova-Regular';
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	color: #292929;
}
a, a:focus{
	transition: all 0.2s ease;
	text-decoration: none;
	color: #0072cd;
}
a:hover {
	text-decoration: none;
	color: #fc0a47;
}
.text-small{
	font-size: 12px;
	line-height: 16px;
}
.text-usual{
	font-size: 14px;
	line-height: 18px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	margin-bottom: 10px;
}
h4,
.h4,
.text-large{
	font-size: 16px;
	line-height: 24px;
}
h3,
.h3{
	font-size: 18px;
	line-height: 26px;
}
h2,
.h2{
	font-size: 22px;
	line-height: 30px;
}
h1,
.h1{
	font-size: 34px;
	line-height: 46px;
}
.text-black{
	color: #292929;
}
.text-blue{
	color: #0072cd;
}
.text-red{
	color: #fc0a47;
}
.text-gray{
	color: #656565;
}
.text-dark{
	color: rgba(67, 67, 67, 0.5);
}
.text-contrast{
	color: #fff;
}
.text-light{
	font-family: 'ProximaNova-Light';
}
.text-normal{
	font-family: 'ProximaNova-Regular';
}
.text-semibold{
	font-family: 'ProximaNova-Semibold';
}
.text-bold{
	font-family: 'ProximaNova-Bold';
}
.text-hovered-blue *,
.text-hovered-red *{
	transition: all 0.2s ease;
}
.text-hovered-blue:hover,
.text-hovered-blue:hover *{
	color: #0072cd;
}
.text-hovered-red:hover,
.text-hovered-red:hover *{
	color: #fc0a47;
}
.link-icon{
	padding-left: 30px;
	background-repeat: no-repeat;
	background-size: auto;
	background-position: left center;
}
.margin-top{
	margin-top: 10px;
}
.margin-bottom{
	margin-bottom: 10px;
}
.margin-medium-top{
	margin-top: 20px;
}
.margin-medium-bottom{
	margin-bottom: 20px;
}
.margin-large-top{
	margin-top: 40px;
}
.margin-large-bottom{
	margin-bottom: 40px;
}
.position-relative{
	position: relative;
}
.position-absolute{
	position: absolute;
}
hr{
	border-color: #dcdcdc;
}
/*Кнопки*/
.button{
	line-height: 36px;
	padding: 0 15px;
	display: inline-block;
	background: #fc0a47;
	color: #fff;
	text-align: center;
	font-size: 13px;
	text-transform: uppercase;
	border: 1px solid #fc0a47;
	cursor: pointer;
	transition: all 0.2s ease;
	outline: none;
	font-family: 'ProximaNova-Bold';
}
.button:focus{
	color: #fff;
}
.button:hover{
	color: #fff;
}
/*.button:hover{
	background: transparent;
	color: #fc0a47;
	transition: all 0.2s ease;
}*/

.button-medium{
	line-height: 46px;
	padding: 0 40px;
	font-size: 16px;
}
.button-large{
	line-height: 58px;
	padding: 0 40px;
	font-size: 24px;
	font-weight: 700;
}
.button-icon{
	padding-left: 35px;
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 10px center;
}
.button-hover-shake:hover{
	-webkit-animation-name: shake;
	-webkit-animation-duration: 3.5s;
	-webkit-animation-fill-mode: both;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-iteration-count: infinite;
	animation-name: shake;
	animation-duration: 3.5s;
	animation-fill-mode: both;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
}
@-webkit-keyframes shake {
	0%{transform:translateX(0)}
	2%{transform:translateX(-9px)}
	4%{transform:translateX(8px)}
	6%{transform:translateX(-7px)}
	8%{transform:translateX(6px)}
	10%{transform:translateX(-5px)}
	12%{transform:translateX(4px)}
	14%{transform:translateX(-3px)}
	16%{transform:translateX(2px)}
	18%{transform:translateX(-1px)}
	20%{transform:translateX(0)}
}
@keyframes shake {
	0%{transform:translateX(0)}
	2%{transform:translateX(-9px)}
	4%{transform:translateX(8px)}
	6%{transform:translateX(-7px)}
	8%{transform:translateX(6px)}
	10%{transform:translateX(-5px)}
	12%{transform:translateX(4px)}
	14%{transform:translateX(-3px)}
	16%{transform:translateX(2px)}
	18%{transform:translateX(-1px)}
	20%{transform:translateX(0)}
}
/*Формы*/
::-webkit-input-placeholder {color: #1f1f1f; opacity: 1; transition: 0.2s ease}
::-moz-placeholder          {color: #1f1f1f; opacity: 1; transition: 0.2s ease}
:-moz-placeholder           {color: #1f1f1f; opacity: 1; transition: 0.2s ease}
:-ms-input-placeholder      {color: #1f1f1f; opacity: 1; transition: 0.2s ease}
:focus::-webkit-input-placeholder {opacity: 0; transition: 0.2s ease}
:focus::-moz-placeholder          {opacity: 0; transition: 0.2s ease}
:focus:-moz-placeholder           {opacity: 0; transition: 0.2s ease}
:focus:-ms-input-placeholder      {opacity: 0; transition: 0.2s ease}
/*Модальные окна*/
.close{
	outline: none !important;
	position: absolute;
	top: 10px;
	right: 10px;
	color: #ff4800;
	cursor: pointer;
	font-size: 26px;
	opacity: 1;
	z-index: 2;
	transition: all 0.5s ease;
}
.close:hover{
	opacity: 1;
	transition: all 0.5s ease;
}
.readmore{
	color: #fc0a47;
	border-bottom: 1px solid #f5b5c0;
}
.readmore:hover{
	color: #0072cd;
	border-color: #0072cd;
}
/* ========================================================================
  Стили шапки/ Header styles
======================================================================== */
/*тулбар*/
.toolbar{
	background: #f0f0f0;
	border-bottom: 1px solid #d6d6d6;
}
.toolbar-menu{
	padding: 10px 0;
	margin: 0;
	list-style: none;
}
.toolbar-menu li{
	display: inline-block;
}
.toolbar-menu li + li{
	margin-left: 30px;
}
.toolbar-menu a{
	color: #292929;
}
.toolbar-menu a:hover{
	color: #fc0a47;
}
.toolbar-callback{
	background-image: url(../images/calculator-icon.png);
}
/*шапка*/
.header{
	padding: 15px 0 20px;
}
.header-logo img{
	max-width: 100%;
}
.header-phones-item *{
	line-height: 1;
}
.header-links-item + .header-links-item{
	margin-left: 40px;
}
.header-links-item a{
	line-height: 2.2;
	color: #292929;
}
.header-links-item-price{
	background-image: url(../images/document-icon.png);
}
.header-links-item-callback{
	background-image: url(../images/phone-icon.png);
	padding-left: 25px;
}
.header-links-item-price,
.header-links-item-callback{
	transition: none;
}
.header-links-item-price span,
.header-links-item-callback span{
	transition: all 0.2s ease;
}
.header-links-item-price span{
	border-bottom: 1px solid #c9c9c9;
}
.header-links-item-callback span{
	border-bottom: 1px dotted #292929;
}
.header-links-item a:hover span{
	border-color: transparent;
}
/*меню*/
.navbar{
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	padding-top: 12px;
	padding-bottom: 12px;
}
.main-menu li + li{
	border-left: 1px solid #e1e1e1;
	padding-left: 40px;
}
.main-menu a{
	padding: 0 !important;
}
.main-menu .parent a{
	padding-right: 25px !important;
}
.main-menu a > img{
	margin-right: 10px;
}
.main-menu a > span{
	vertical-align: middle;
}
.main-menu .parent a:after{
	content: "\e900";
	font-family: 'iconfont';
	position: absolute;
	top: 3px;
	line-height: 1;
	right: 0;
}
/* ========================================================================
  Стили слайдера / Slider styles
======================================================================== */
.slick-slider-item{
	position: relative;
}
.slick-dots{
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 25px;
}
.slick-dots li{
	display: inline-block;
}
.slick-dots li + li{
	margin-left: 15px;
}
.slick-dots button{
	background: #fff;
	border: none;
	width: 12px;
	height: 12px;
	padding: 0;
	box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.53);
	text-indent: -9999px;
	border-radius: 100%;
	outline: none;
	line-height: 1;
	transition: all 0.2s ease;
}
.slick-dots .slick-active button,
.slick-dots button:hover{
	background: #fc0a47;
	transition: all 0.2s ease;
}
/* ========================================================================
  Блок "наши преимущества"/ Advantage block styles
======================================================================== */
.advantages-block{
	background-image: url(../images/advantages-bg.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center 75px;
	padding-top: 40px;
	margin-bottom: -75px;
}
.advantages-block-table{
	border-bottom: 1px solid #a7a7a7;
	border-left: 1px solid #a7a7a7;
	background: #fff;
}
.advantages-block-table-item{
	border-top: 1px solid #a7a7a7;
	border-right: 1px solid #a7a7a7;
	padding: 0;
}
.advantages-block-table-item-content{
	padding: 45px 30px;
}
.advantages-block-table-item-icon img{
	padding: 0 5px 20px;
	transition: all 0.6s ease;
}
.advantages-block-table-item-icon:after{
	content: "";
	display: block;
	margin: 5px;
	border-bottom: 2px solid #fc0a47;
}
.advantages-block-table-item:hover img{
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-o-transform: rotate(30deg);
	transform: rotate(30deg);
}
.advantages-block-table-item:nth-child(even):hover img{
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	-o-transform: rotate(-30deg);
	transform: rotate(-30deg);
}
/* ========================================================================
  Блок скидок и новостей / Sales and news block styles
======================================================================== */
.articles-teaser-block{
	padding: 120px 0 20px;
	background: #f2f2f2;
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
}
.articles-teaser-block-title,
.articles-teaser-item-content{
	padding-left: 80px;
}
.articles-teaser-item-meta{
	width: 80px;
}
.articles-teaser-item-sale{
	line-height: 56px;
}
.articles-teaser-item-sale,
.articles-teaser-item-date{
	color: #fc0029;
	font-size: 17px;
	text-align: center;
	border: 2px solid #b5b5b5;
	border-radius: 100%;
	width: 60px;
}
.articles-teaser-item-date{
	padding: 15px 0 7px;
}
/* ========================================================================
  Блок "наши работы" / Portfolio block styles
======================================================================== */
.portfolio-block{
	padding: 40px 0 80px;
}
.slick-arrows-custom{
	position: absolute;
	z-index: 10;
	right: -81px;
	bottom: 100px;
	width: 96px;
}
.slick-arrow{
	position: relative;
	background: #c6c6c6;
	outline: none;
	color: #fff;
	width: 46px;
	height: 46px;
	font-size: 30px;
	line-height: 1;
	display: block;
}
.slick-arrow:focus{
	color: #fff;
}
.slick-arrow:after{
	font-family: 'iconfont';
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -15px 0 0 -15px;
}
.slick-prev:after{
	content: "\e902";
}
.slick-next:after{
	content: "\e901";
}
.slick-slider-item-caption{
	width: 470px;
	padding: 10px;
	background: #fff;
	position: absolute;
	z-index: 10;
	top: 60px;
	right: -380px;
	box-sizing: border-box;
	-webkit-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.11);
	-moz-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.11);
	box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.11);
}
.slick-slider-item-caption-content{
	border: 2px solid #f20027;
	padding: 30px;
	box-sizing: border-box;
}

/* ========================================================================
  Стили футера / Footer styles
======================================================================== */
.footer{
	background: #383838;
	padding: 15px 0 30px;
}
.footer-top{
	padding-bottom: 15px;
}
.footer-menu-top,
.footer-menu-bottom{
	padding: 0;
	margin: 0;
	list-style: none;
}
.footer-menu-top li,
.footer-menu-bottom li{
	display: inline-block;
}
.footer-menu-top li + li,
.footer-menu-bottom li + li{
	margin-left: 30px;
}
.footer-menu-top a,
.footer-menu-bottom a{
	color: #fff;
	line-height: 30px;
}
.footer-menu-top a:hover,
.footer-menu-bottom a:hover{
	color: #0072cd;
}
.footer-bottom{
	border-top: 1px solid rgba(0, 0, 0, 0.25);
	padding-top: 20px;
}
.medialine-copyrate a{
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.medialine-copyrate a:hover{
	color: #0072cd;
	border-color: #0072cd;
}
/* ========================================================================
  Медиа запросы/ Media queries
======================================================================== */
@media (min-width: 1200px){
	.container {
		width: 1200px;
	}
}
@media (max-width: 1199px){
	.header-links-item{
		text-align: right;
	}
	.header-links-item + .header-links-item {
		margin-left: 0px;
		margin-top: 20px;
	}
	.main-menu li + li {
		padding-left: 3px;
	}
	.main-menu a > img {
		margin-right: 5px;
	}
}
@media (max-width: 991px){
	.header-phones-item + .header-phones-item{
		margin-top: 20px;
	}
}





















